<br/>
<br/>
<%= notice %>
<br/>
<a href="<%= manipulate_array_and_convert_to_hash_path %>"> Count array and sort</a>
<br/>
<a href="<%= convert_base64_to_image_path %>"> Convert Base64 to Image and Save in tmp directory</a>